h1 {
    font-size: 64px;
    line-height: 79px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
  
  h2 {
    font-size: 27px;
    line-height: 27px;
    font-weight: bold;
    color:white;
    font-style: normal;
    text-decoration: none;
  }
 
  h3 {
    font-size: 16pt;
    font-style: normal;
    font-weight: normal;
    text-decoration-line: none;
  }
  
  h4 {
    font-size: 21px;
    line-height: 27px;
    color: #333333;
  }
  